[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Test Runner System.
  #
  # The Initial Developer of the Original Code is Maciej Maczynski.
  # Portions created by Maciej Maczynski are Copyright (C) 2001
  # Maciej Maczynski. All Rights Reserved.
  #
  # Contributor(s): Greg Hendricks <ghendricks@novell.com>
  #%]
  
  [% IF error == "testopia-permission-denied" %]
    [% title = "Insufficient Permissions" %]
    你没有权限访问 [% object.type FILTER html %]&nbsp;[% object.id FILTER html %]
  [% ELSIF error == "testopia-read-only" %]
    [% title = "Insufficient Permissions" %]
    你没有权限编辑 [% object.type FILTER html %]&nbsp;[% object.id FILTER html %]
    [% IF object.type == 'caserun' %]
    只有在 RUNNING 状态的runs才可以更新。或者，
    [% END %]
    联系plan管理员，授权可更新这些 [% object.type FILTER html %]s
  [% ELSIF error == "testopia-no-delete" %]
    [% title = "Insufficient Permissions" %]
    你没有权限删除 [% object.type FILTER html %]&nbsp;[% object.id FILTER html %]
    [% IF user.in_group('admin') %]
    如果你是管理员，请检查你的安装，检查 <a href="editparams.cgi">paramaters </a> 以
    确认是否可以删除Testopia数据，然后在plan的 "Permissions" 标签页，加入删除权限。
    [% END %]
  [% ELSIF error == "testopia-create-denied" %]
    [% title = "Cannot Create Object" %]
    [% IF plan %] 在 plan [% plan.id %] 中，[% END %]你没有权限创建 [% object FILTER html %]。
  [% ELSIF error == "testopia-missing-parameter" %]
    [% title = "Missing Parameter" %]
    没有参数[% param FILTER html %]
  [% ELSIF error == "testopia-non-zero-case-count" %]
    [% title = "Category Has Test Cases" %]
    如果一个category仍然有测试例关联，你不能删掉它。
    请先移动测试例给其他category。
  [% ELSIF error == "testopia-non-zero-run-count" %]
    [% title = "$object Has Test Runs" %]
    你试图删除一个仍有run关联的 [% object FILTER html %] 。
  [% ELSIF error == "testopia-non-zero-case-run-count" %]
    [% title = "Build Has Case Runs" %]
    你试图删除一个有case、run关联的build。这是历史数据，不能被删除。
  [% ELSIF error == "testopia-invalid-test-id-or-alias" %]
    [% title = "Invalid ID or Alias" %]
    不存在这个case。
  [% ELSIF error == "invalid-test-id-non-existent" %]
    [% title = "Invalid ID" %]
    [% IF type == 'case_run' %]
      不存在这个run。
    [% ELSE %]
      不存在 [% type FILTER html %]&nbsp;[% id FILTER html %] 。
    [% END %]
  [% ELSIF error == "testopia-name-not-unique" %]
    [% title = "Name Must be Unique" %]
    你为 [% object FILTER html %] 选择的名字 [% name FILTER html %] 不唯一。
    [% object FILTER html %] 使用了相同的名字。请另选一个。
  [% ELSIF error == 'testopia-create-category' %]
    [% title = "No Categories Defined" %]
    这个产品还没有定义 categories 。
    [% IF plan %]
    你可以 <a href="tr_categories.cgi?product_id=[% plan.product.id FILTER none %]"> 创建 categories 
    </a>。
    [% END %]
  [% ELSIF error == "testopia-create-build" %]
    [% title = "No Builds Defined" %]
    这个产品还没有定义 builds 。
    [% IF plan %]
    你可以 <a href="tr_builds.cgi?product_id=[% plan.product.id FILTER none %]"> 创建 builds </a> 。
    [% END %]
  [% ELSIF error == "testopia-create-environment" %]
    [% title = "No Environments Defined" %]
    还没有定义 environments。
    你可以 <a href="tr_new_environment.cgi">创建 environments</a>。
  [% ELSIF error == "testopia-missing-required-field" %]
    [% title = "Missing Required Field" %]
    可能 [% field FILTER none %] 并未输入数值，或者内容不符合要求。
  [% ELSIF error == "testopia-missing-plans-list" %]
    [% title = "Plan list missing" %]
    你想kelong的与这个case关联的plan似乎并不存在。请重试。
  [% ELSIF error == "testopia-unkown-object" %]
    [% title = "Unkown Object" %]
    只能给Test Plan, Test Case or Test Run附加tag。
  [% ELSIF error == "testopia-element-in-use" %]
    [% title = "Element in Use" %]
    选中的element已经在一个或多个environments使用了。
    请先 [% IF NOT delete %] 创建一个新的，或[% END %]
    从environments中删掉这个element。
  [% ELSIF error == "testopia-invalid-char" %]
    [% title = "Invalid Character" %]
    数值中包含不合法字符 '|' 。
  [% ELSIF error == "testiopia-alias-exists" %]
    [% title = "Alias Unavailable" %]
    这个 alias '[% alias FILTER html %]' 已由其他case使用，请另选一个。
  [% ELSIF error == "testiopia-invalid-data" %]
    [% title = "Invalid Option Selected" %]
    [% value FILTER html %] 不是 域 [% field FILTER none %] 的合法内容。
  [% ELSIF error == "testopia-none-selected" %]
    [% title = "Nothing Selected" %]
    你没有选中 [% object FILTER none %] 。
  [% ELSIF error == "testopia-query-too-large" %]
    这次查询返回 [% limit FILTER none %] 行数据。 <br>
    请选择:
    <ol>
      <li>缩小你搜索范围</li>
      <li>尝试用参数 pagesize 和 page URL 限制你的搜索结果</li>
      <li>使用XML-RPC接口。</li>
    </ol>
  [% ELSIF error == "missing-plans-list" %]
    [% title = "No plans selected" %]
    你没有选中任何一个plan。
  [% ELSIF error == "testopia-tester-already-on-list" %]
    [% title = "Selected user is already on the list" %]
    用户 [% login FILTER html %] 已经在这个plan的ACL中。
  [% ELSIF error == "testopia-plan-acl-denied" %]
    [% title = "Plan Administrator Privileges Required" %]
    你需要是这个plan管理员才可以修改他的访问控制列表。
  [% ELSIF error == "testopia-no-admins" %]
    [% title = "Plan Must Have at Least One Admin" %]
    你必须至少选择一个管理员。
  [% ELSIF error == "testopia-format-error" %]
    [% title = "Field format error" %]
    [% field %] 格式不正确。
  [% ELSIF error == "plan-has-children" %]
    [% title = "Plan has Children" %]
    这个plan有派生，所以不能修改产品。你应该clone之后再修改。
  [% ELSIF error == "testopia-no-status" %]
    [% title = "Permission Denied" %]
    你需要是run 管理员或者plan 管理员才能修改
    [% IF field == 'status' %]
      run的状态。
    [% ELSIF field == 'manager' %]
      run的管理员。
    [% ELSIF field == 'target' %]
      通过率或完成率。
    [% END %]
  [% ELSIF error == "testopia-update-failed" %]
    [% title = "One or more of your test $object failed to update" %]
    更新 [% object %] 失败。可能的原因是你没有权限。
    [% IF object == 'case-run' %]
      如果case在RUNNING，只有 assignee 可以更新。否则，
    [% END %]
    请联系plan管理员来授权更新 [% object %] 。
    <p>
    失败的id是： [% list FILTER none %]
    </p>
  [% ELSIF error == "testopia-delete-failed" %]
    [% title = "One or more of your test $object failed to be deleted" %]
    删除 [% object %] 失败。可能的原因是你没有权限。
    你的管理员需要设置 "allow-test-deletion" 为 "On"。
  [% ELSIF error == "testopia-unknown-tag" %]
    Tag "[% name FILTER html %]" 不存在。
  [% ELSIF error == "testopia-regexp-too-inclusive" %]
    你试图允许其他人访问你的plan，这超出了你的权限。
    请联系管理员。
  [% ELSIF error == "testopia-unknown-tab" %]
    我不知道 [% tab FILTER html %] 是什么。
  [% ELSIF error == 'invalid_import_type' %]
    无效的文件类型。只有 CSV 和 XML 文件可以导入(扩展名为.csv 或 .xml)。你上传了一个 [% type FILTER html %] 文件。
  [% ELSIF error == 'import_repeat' %]
    看起来你试图再次导入同一个文件。
  [% ELSIF error == 'csv_parse_failure' %]
    解析失败。请验证CSV文件有效。
    出错行： [% row FILTER none %]
  [% ELSIF error == "testopia_component_attached" %]
    你试图加入的 component 已在该 case 中存在。
  [% ELSIF error == "testopia-no-action" %]
    你确认想做什么操作？
  [% ELSIF error == "invalid_target" %]
    期望的完成率、通过率数值范围是 0 到 100。
  [% ELSIF error == "import_parse_error" %]
    解析 [% type FILTER html %] 失败！<br/>
    错误是：
    <pre>[% msg FILTER html %]</pre>
  [% END %]
  
