<table>
<tr>
    <td style="color: red; weight: bolder">
    此产品有 [% testopia_product.plans.size %] 个plan
    和 [% testopia_product.runs.size %] 个run。
    删除这个产品将删除所有关联的Testopia数据，包括
    plan、case、run、build，和envirment。</td>
</tr>
</table>    